* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: Arial, sans-serif;

    background: white;

    color: #222;

}

header {

    padding: 25px;

    text-align: center;

    border-bottom: 1px solid #eee;

}

.hero {

    max-width: 1000px;

    margin: auto;

    padding: 60px 20px;

    text-align: center;

}

.hero img {

    width: 100%;

    max-width: 700px;

    border-radius: 18px;

    margin-bottom: 40px;

}

h1 {

    font-size: 42px;

    line-height: 1.2;

    margin-bottom: 25px;

}

p {

    font-size: 20px;

    color: #666;

    margin-bottom: 40px;

}

.button {

    display: inline-block;

    background: black;

    color: white;

    padding: 18px 45px;

    text-decoration: none;

    border-radius: 999px;

    transition: .3s;

}

.button:hover {

    opacity: .8;

}